.nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(255, 246, 242, 0.938);
    height: 100vh;
    width: 70%;
    padding: 80px 10px;
    font-size: 20px;
    font-family: 'MiamaNuevaMedium';
    font-family: roboto;

    transform: translateX(100%);
    transition: .5s;

    .nav__list {
        display: flex;
        flex-direction: column;

        list-style: none;

        .nav__list-item {

            margin: 10px 0 0 20px;

            .nav__link {

                text-decoration: none;
                color: $main-brown;
            }
        }

        .nav__list-publications {
            color: $main-brown;

            .nav__list-item-publications {
                .fa-sort-down {
                    transition: .3s;
                    transform-origin: center center;
                    transform: translateY(-20%) rotate(0deg);
                    color: rgba(54, 29, 27, .7);
                    ;

                }

                .fa-sort-down.on {
                    transform: translateY(20%) rotate(180deg);

                }
            }

            .hide {
                overflow: hidden;

                .nav__list-publications-section {
                    height: 110px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    transform: translateY(-110px);
                    list-style: none;
                    transition: .5s;
                    transition-delay: .2s;

                    .nav__list-piblications_section-link {
                        color: $main-brown;
                        text-decoration: none;
                    }
                }

                .nav__list-publications-section.on {
                    transform: translateY(0);
                }
            }

        }

        .nav__list-gallery,
        .nav__list-contact {
            transform: translateY(-110px);
            transition: .5s;
        }

        .nav__list-gallery {
            transition-delay: .1s;
        }

        .nav__list-gallery.on,
        .nav__list-contact.on {
            transform: translateY(0px);
        }

    }
}

.nav.on {
    transform: translateX(0);
}

@media (orientation: landscape) {
    .nav {
        padding: 30px 10px;
    }
}

@media (orientation: portrait) and (min-width: 760px) {
    .nav {
        width: 40%;
        font-size: 25px;
    }
}

@media (orientation: landscape) and (min-width: 1500px) {

    .nav {
        top: 0;
        width: 100%;
        height: 60px;
        padding: 15px 0;

        background-color: transparent;
        transform: translateX(0);

        .nav__list {

            width: 45%;
            margin-left: 9%;

            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;


            .nav__list-item {
                width: 210px;
                font-size: 25px;
                margin: 0 0;
                text-shadow: 3px 3px 4px #000;
                color: #fff;

                .nav__link {
                    color: #fff;
                    text-shadow: 3px 3px 4px #000;
                }
            }

            .nav__list-item:nth-child(1) {

                animation: showNavItems .9s;

            }

            .nav__list-item:nth-child(2) {

                animation: showNavItems .9s .1s both;
            }

            .nav__list-gallery {
                animation: showNavItems .9s .2s both;
            }

            .nav__list-contact {
                animation: showNavItems .9s .3s both;
            }

            @keyframes showNavItems {
                from {
                    transform: translateY(-50px);
                }

                to {
                    transform: translateY(0px);
                }
            }

            .nav__list-publications {

                .nav__list-item-publications {
                    cursor: pointer;
                    text-align: left;
                    width: 100%;

                    .fa-sort-down {
                        display: none;
                    }
                }

                .hide {
                    .nav__list-publications-section {
                        height: 130px;
                        transform: translateY(-130px);

                        .publications-section-item {
                            margin: 3px 0;
                            text-align: left;
                            width: 100%;
                        }

                        .nav__list-piblications_section-link {
                            color: #fff;
                            text-shadow: 3px 3px 4px #000;

                        }
                    }
                }
            }
        }
    }

    .nav.desktop {

        //box-shadow: 0px 5px 20px #000;
        background-color: rgba(54, 29, 27, 1);
        ;

        .nav__list {
            .nav__list-item {
                text-shadow: none;
                color: #fff;

                .nav__link {
                    color: #fff;
                    text-shadow: none;
                }
            }

            .nav__list-publications {
                .hide {
                    .nav__list-publications-section {
                        padding: 10px 8px;
                        background-color: $background;
                        border: 0px solid $background;

                        //transition: 3s;

                        .publications-section-item {
                            .nav__list-piblications_section-link {
                                color: $main-brown;
                                text-shadow: none;
                            }
                        }
                    }

                    .nav__list-publications-section.on {

                        border: 1px solid $main-brown;
                        border-top: none;
                    }
                }
            }
        }
    }
}


//  -------------   HAMBURHER   -----------------

.hamburger {
    position: fixed;
    top: 15px;
    right: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 45px;
    height: 34px;
    z-index: 2;

    .hamburger__line {
        width: 100%;
        height: 2px;
        // background-color: $main-brown;
        background-color: #fff;
        box-shadow: 0px 0px 3px #000;
        transition: transform .5s, opacity .2s;
    }

    .hamburger__line--first {
        animation: firstLine .8s;
        transform-origin: top left;
    }

    @keyframes firstLine {
        0% {
            transform: translateY(16px);
        }

        100% {
            transform: translateY(0px);
        }
    }

    @keyframes thirdLine {
        0% {
            transform: translateY(-16px);
        }

        100% {
            transform: translateY(0px);
        }
    }

    .hamburger__line--third {
        transform-origin: bottom left;
        animation: thirdLine .8s;
    }

    .hamburger__line--first.on {
        transform: rotate(45deg) translateX(5px) translateY(-4.6px);
    }

    .hamburger__line--third.on {
        transform: rotate(-45deg) translateX(5px) translateY(5px);
    }

    .hamburger__line--second.on {
        opacity: 0;
    }
}

@media (orientation: portrait) and (min-width: 760px) {
    .hamburger {
        top: 30px;
        right: 30px;
    }
}

@media (orientation: landscape) and (min-width: 1500px) {
    .hamburger {
        display: none;
    }
}